@model Tracker.BackService.Models.WalkGoal

@if (Model != null)
{
  <input type="hidden" asp-for="Id" />
}

<div class="form-group">
  <label asp-for="Name" class="control-label"></label>
  <input asp-for="Name" class="form-control" />
  <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="TargetDistance" class="control-label"></label>
  <input asp-for="TargetDistance" class="form-control" />
  <span asp-validation-for="TargetDistance" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="StartDate" class="control-label"></label>
  <input asp-for="StartDate" class="form-control" />
  <span asp-validation-for="StartDate" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="EndDate" class="control-label"></label>
  <input asp-for="EndDate" class="form-control" />
  <span asp-validation-for="EndDate" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Description" class="control-label"></label>
  <textarea asp-for="Description" class="form-control"></textarea>
  <span asp-validation-for="Description" class="text-danger"></span>
</div>

  <label class="control-label" value="Walk On">Walk On</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" asp-for="WalkOnMonday">Monday
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" asp-for="WalkOnTuesday">Tuesday
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" asp-for="WalkOnWednesday">Wednesday
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" asp-for="WalkOnThursday">Thursday
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" asp-for="WalkOnFriday">Friday
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" asp-for="WalkOnSaturday">Saturday
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" asp-for="WalkOnSunday">Sunday
    </label>
  </div>

